* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#canvas {
  display: block;
}

#avgTime {
  font-size: 20px;
  color: #fff;

  position: absolute;
  top: 24px;
  left: 50%;
  transform: translateX(-50%);

  user-select: none;
}
